   {{>navbar/nav}}

<div class="jumbotron jumbotron-fluid">
    <div class="row">
        <div class="col-md-5">
            <h2 class="display-4">Welcome to your Dashboard</h2>
            <p class="lead">Here you can find all your saved articles, and notes for those articles.</p>
        </div>
        <div class="col-md7">

        </div>
    </div>

</div>

<div class="container-fluid" id="saved-articles-container">
    <div class="row">
        <h2>Welcome {{firstName}} {{lastName}} to your Dashboard</h2>
    </div>
    <hr>
    <div class="row">
        <div class="col-9">
            <div class="row">
                <div class="list-group hidden" role="tablist" >

                    <a class="list-group-item list-group-item-action article-note" id="note-added" data-toggle="list" href="#note-added" role="tab">{{title}}</a> 
                </div>

                {{#each usersArticles}}
                <div class="col-md-3">
                    <div class="userArticle card" data-subreddit='{{subReddit}}'>
                        <div class="card-body">
                            <h5 class="card-title">
                                {{title}}
                            </h5>
                            <h6 class="card-subtitle mb-2 text-muted">/r/{{subReddit}}</h6>
                            <hr>
                            <a href="{{link}}" class="card-link btn btn-primary">Link to Post</a>
                            <hr>
                        </div>
                        <div class="card-footer" >
                            <div class="see-notes" data-article='{{_id}}'>
                                Notes
                            </div>
                            <div class="article-notes hide-article-notes">
                                <h7 class="card-title" data-note-title='{{_id}}'>Getting Notes...</h7>
                                <hr>
                                <h4 class="text-muted">Click on the Note to Display it's content on the right</h4>
                                <div class="main-group list-group" role="tablist" data-note-list='{{_id}}'>
                                </div>
                                <br>
                                <hr>
                                <div class="list-group" role="tablist">
                                    <a class="add-new-note list-group-item list-group-item-action" href='#article-tab-{{_id}}' data-toggle="list" role="tab">Add New Note</a>
                                    <a class="delete-article list-group-item list-group-item-action btn-danger" href='#article-delete-tab-{{_id}}' data-toggle="list" role="tab">Delete This Article</a>  
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
                {{/each}}
            </div>
        </div>
        <div class="col-3">
            <div class="tab-content" id="articles-tabContent">
                <div class="tab-pane fade show active" id="instructions" role="tabpanel">
                    <div class="row">
                        <div class="col-12">
                            <div>
                            <h3>Check out your notes!</h3>
                            <hr>
                            <h4>You can add, edit, or delete and notes you'd like for your saved post. You may also delete any post you no longer need or want here as well!</h4>
                            <h4>Just click 'Notes' to see any notes for that specific post!</h4>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="tab-pane fade" id="note-added" role="tabpanel">
                    <div class="row">
                        <div class="col-12">
                            <div>
                            <h3>Your Note has been Added!</h3>
                            <hr>
                            </div>
                        </div>
                    </div>
                </div>
                {{#each usersArticles}}
                <div class="tab-pane fade" id="article-tab-{{_id}}" role="tabpanel">
                    <form class="form-new-note" data-form="{{_id}}">
                        <div class="form-group">
                            <h3>Add a New Note to...</h3>
                            <h3>{{title}}</h3>
                        </div>
                        <hr>
                        <div class="form-group">
                            <label class="new-note-form-labels">Title</label>
                            <input class="form-control new-note-form-input" data-new-title="{{_id}}" type="text" name="title" required>
                        </div>
                        <div class="form-group">
                            <label class="new-note-form-labels">Text</label>
                            <textarea class="form-control new-note-form-input" data-new-body="{{_id}}"name="body"></textarea>
                        </div>
                        <button type="submit" data-new-btn="{{_id}}" class="btn btn-primary">Add Note</button>
                    </form>
                </div>
                <div class="tab-pane fade" id="article-delete-tab-{{_id}}" role="tabpanel">
                    <form class="form-delete-article" data-form-delete-article="{{_id}}">
                        <div class="form-group">
                            <h3>Are you sure you want to delete article..</h3>
                            <hr>
                            <h4>{{title}}</h3>
                            <hr>
                            <h5>Deleting this article will also delete all notes along with it</h5>
                            <hr>
                            <div class="list-group">
                            {{#each notes}}
                                <p class="list-group-item">{{title}}</p> 
                            {{/each}}
                            </div>
                        </div>
                        <button type="submit" data-new-btn="{{_id}}" class="btn btn-danger">Delete article along with all its notes.</button>
                    </form>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>